# Vite API Base URLs Configuration Template

# Auth API URL
VITE_AUTH_API_URL=https://micro-api-one.terraterri.com/api

# Master API URL
VITE_MASTER_API_URL=https://micro-api-three.terraterri.com/api/

# Project API URL
VITE_PROJECT_API_URL=https://micro-api-two.terraterri.com/api/project/

# Expo Public API URL
VITE_EXPO_API_URL=https://mmworkspace.com/expo/api/

# Expo Admin Backend API URL
VITE_EXPO_ADMIN_API_URL=https://expoadminapi.terraterri.com/

# Expo Builder Backend API URL
VITE_EXPO_BUILDER_API_URL=https://expoadminapi.terraterri.com/tt-expo-builder-be/
